<div class="grid grid-cols-3 gap-8">
    <app-product [title]="'Product 1 '" [price]="12" img="https://picsum.photos/400/400?r=23" (addToCart)="fromChild($event)"></app-product>
    <app-product [title]="'Product 2 '" [price]="12" img="https://picsum.photos/400/400?r=26" (addToCart)="fromChild($event)"></app-product>
    <app-product [title]="'Product 3 '" [price]="12" img="https://picsum.photos/400/400?r=45" (addToCart)="fromChild($event)"></app-product>
    <app-product [title]="'Product 4 '" [price]="12" img="https://picsum.photos/400/400?r=63" (addToCart)="fromChild($event)"></app-product>
    <app-product [title]="'Product 5 '" [price]="12" img="https://picsum.photos/400/400?r=93" (addToCart)="fromChild($event)"></app-product>

</div>


